.nav-wrapper{
    display: flex;
    justify-content: center;
}
.img-style{
    display: block;
    margin: 20px auto;
    border-radius: 20px;
}
.btn-style{
    background-color: #8D6E63;
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    margin-left: 70px;
    margin-right: 70px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.header-style{
background-color: gold;
color: white;
text-align: center;
padding: 20%px;
}
.body-style {
    margin: 0;
    padding: 0;
    font-family: Georgia, serif;
    background: linear-gradient(to bottom, #f8f1e5 0%, #e8d8c3 100%);
    background-attachment: fixed;
    color: #4b2e2e;
}
.main-style {
    width: 85%;
    margin: 30px auto;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}
.footer-style {
     background-color: #5c3d2e; 
    color: #f8f1e5; 
    text-align: center;
    padding: 25px 10px;
    margin-top: 40px;
}